aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
appnope
asgiref
asttokens
async-timeout
attrs
backoff
bcrypt
blinker
build
cachetools
certifi
cffi
charset-normalizer
chroma-hnswlib
chromadb
click
cloudpickle
coloredlogs
comm
cryptography
dataclasses-json
debugpy
decorator
Deprecated
distro
durationpy
et_xmlfile
exceptiongroup
executing
faiss-cpu
fastapi
filelock
flatbuffers
frozenlist
fsspec
fuzzywuzzy
gitdb
GitPython
google-auth
googleapis-common-protos
greenlet
grpcio
h11
httpcore
httptools
httpx
httpx-sse
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
ipykernel
ipython
jedi
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kubernetes
langchain
langchain-chroma
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
Levenshtein
llvmlite
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mdurl
mmh3
mpmath
multidict
mypy_extensions
narwhals
nest-asyncio
numba
numpy
oauthlib
onnxruntime
openai
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation
opentelemetry-instrumentation-asgi
opentelemetry-instrumentation-fastapi
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
opentelemetry-util-http
orjson
ormsgpack
overrides
packaging
pandas
parso
pdf2image
pdfminer.six
pdfplumber
pexpect
pillow
platformdirs
plotly
posthog
prompt_toolkit
propcache
protobuf
psutil
ptyprocess
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
PyMuPDF
PyPDF2
pypdfium2
PyPika
pyproject_hooks
pytesseract
python-dateutil
python-dotenv
python-Levenshtein
python-multipart
pytz
PyYAML
pyzmq
RapidFuzz
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rsa
scikit-learn
scipy
shap
shellingham
six
slicer
smmap
sniffio
SQLAlchemy
stack-data
starlette
streamlit
sympy
tenacity
threadpoolctl
tiktoken
tokenizers
toml
tomli
tornado
tqdm
traitlets
typer
typing-inspect
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
uvloop
watchfiles
wcwidth
websocket-client
websockets
wrapt
xtarfile
xxhash
yarl
zipp
zstandard
python-multipart
qdrant-client
neo4j
sentence-transformers
pypdf
ollama
python-dotenv
langchain-qdrant
langchain-huggingface